/* #173041 */

@font-face {
  font-family: 'Schadow';
  font-stretch: condensed;
  src: url(../src/Schadow/SchadowBlackCondensed.ttf);
}

body {
  background: #e8e8c975 !important;
}

.galleryCard {
  max-width: 200px;
  display: inline-block !important;
  max-height: 130px;
  overflow: hidden;
}

.galleryCard p {
  line-height: 16px;
  font-size: 16px;
  text-align: center;
}

.card-img {
  min-height: 128px;
  width: 100%;
  height: 100%;
  background-color: #173041;
  /* fallback color */
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.card:hover .card-img, .card:focus .card-img {
  transform: scale(1.02);
  opacity: 0.5;
}

.card-img-overlay>.h5, .card-img-overlay>p {
  visibility: hidden;
}

.card-img-overlay:hover .h5, .card-img-overlay:hover p {
  visibility: visible;
  align-self: flex-end;
}

.card-img-overlay {
  display: flex;
  justify-content: flex-end;
}

.container {
  height: 100%;
}

.container-body {
  min-height: 95vh;
  margin-bottom: 200px;
}

.col {
  margin: auto 0;
}

p {
  margin: 0;
}

p, table, body {
  font-family: 'Spectral', serif !important;
}

.nav-link {
  font-family: "Schadow";
}

.cover {
  height: 400px;
  position: relative;
  top: -100px;
  box-shadow: 14px 14px 12px #000000;
}

.cover-books {
  margin: 20px;
  position: relative;
  box-shadow: 14px 14px 12px #000000;
}

.back {
  height: 470px;
  -moz-box-shadow: 14px 14px 12px #000000;
  -webkit-box-shadow: 14px 14px 12px #000000;
  box-shadow: 14px 14px 12px #000000;
}

.jumbotron {
  background-color: #173041 !important;
  color: white;
  margin-bottom: 5rem !important;
  font-family: "Schadow";
  height: 315px;
  letter-spacing: 2px;
}

.jumbo-homepage {
  margin-bottom: 120px !important;
}

.jumbotron h1 {
  font-size: 50px;
  margin-left: 20px;
}

.jumbotron h2 {
  font-size: 38px;
}

.jumbotron_secondary {
  padding: 3rem 2rem !important;
  height: 225px;
}

.jumbotron_tertiary {
  padding: 3rem 2rem !important;
  height: 100px;
  margin-bottom: 1rem !important;
}

.jumbotron_tertiary h2 {
  top: -16px;
  position: relative;
}

.nav {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 100;
  height: 65px;
  margin-top: 12px;
}

.nav-home {
  margin-bottom: 50px;
}

.nav-link {
  color: #173040c2;
}

.navPill {
  display: flex;
  border-top: 3px solid #173041;
  border-bottom: 3px solid #173041;
  background: white;
  border-radius: 0px 0px 3px 3px;
  height: 50px;
  width: 100%;
  padding: 0 25%;
}

.footer {
  height: 100px;
  margin: 55px 0 0 0 !important;
  text-align: left;
  left: 0px;
  bottom: 0px;
  padding: 0 10% !important;
  width: 100%;
}

.footer h4 {
  margin-bottom: 20px;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style: none;
  margin-bottom: 10px;
}

.footer, .footer a {
  color: white !important;
  font-family: "Schadow";
}

.nav-link:hover {
  color: #173041 !important;
}

.table {
  font-size: 1.2rem;
}

.footer a {
  text-decoration: underline;
}

.footer h5 {
  font-weight: 100 !important;
  font-size: 24px;
}

.footer-sub {
  font-size: 18px !important;
}

.footerNav h5 {
  margin-bottom: 0px !important;
}

.dropcap {
  margin: 0% 0%;
  padding: 0% 1% 0% 0%;
  font-size: 80px;
  line-height: 86%;
  font-weight: 400;
  float: left;
  font-family: "Schadow";
}

.img0 {
  position: absolute;
  width: 400px;
  height: auto;
  left: 0;
  -moz-box-shadow: 14px 14px 12px #000000;
  -webkit-box-shadow: 14px 14px 12px #000000;
  box-shadow: 14px 14px 12px #000000;
  border-radius: 5px;
}

.img1 {
  position: absolute;
  width: 400px;
  height: auto;
  right: 40px;
  bottom: 0;
  -moz-box-shadow: 14px 14px 12px #000000;
  -webkit-box-shadow: 14px 14px 12px #000000;
  box-shadow: 14px 14px 12px #000000;
  border-radius: 5px;
}

input {
  width: 80%;
  border-radius: 5px;
  height: 40px;
  padding: 5px 15px;
  margin-right: 10px !important;
}

.fa-check-square {
  position: absolute;
  font-size: 40px !important;
  cursor: pointer;
  color: #f0f0dc;
}

hr {
  border: 0;
  border-top: 5px solid !important;
  border-radius: 100%;
  color: #173040c2;
}

.hr0 {
  margin-bottom: -0.8rem;
  margin-top: 20px;
}

.hr1 {
  margin-bottom: 50px !important;
  height: 4px;
}

.author {
  color: #173041 !important;
  font-weight: bold;
  font-weight: 600 !important;
  margin-top: 15px;
  margin-bottom: 30px;
}

.profile {
  height: 400px;
  width: auto;
  border-radius: 5px;
}

img {
  border-radius: 3px;
}

.lessonButton {
  min-width: 150px;
}

/* Typography */

h3 {
  color: #565656 !important;
  font-size: 20px !important;
}

.caption {
  font-size: 20px;
}

/********************************************************** Utility Classes */

.bgBlack {
  background-color: black;
}

.justified {
  text-align: justify;
}

.clearLeft {
  clear: left;
}

.clearRight {
  clear: right;
}

.slimContain {
  padding: 0 200px !important;
}

.hoverZoom {
  transition: all 0.3s ease-in-out;
}

.hoverZoom:hover {
  transform: scale(1.02);
}

.textSize-4 {
  font-size: 0.9rem;
}

.preWrap {
  white-space: pre-wrap;
}

.textBlock {
  line-height: 35px;
  text-align: left;
}

.textLine {
  line-height: 35px;
  text-align: center;
}

.textColorPrimary {
  color: #173041;
}

.buyButton {
  background-color: #173041 !important;
  border: none !important;
}

.cursor {
  cursor: pointer;
}

.card-title-wrapper {
  height: 60px;
  display: flex;
}

.textRow {
  padding: 0 10%;
}

.noMargin {
  margin: 0 !important;
}

.textCenter {
  text-align: center !important;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.justifyCenter {
  justify-content: center;
}

.shortDownSpacer {
  margin-bottom: 50px;
}

.bloomsWheel {
  width: 650px;
  height: 650px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.bloomsWheelStopped {
  height: auto;
  max-width: 650px;
}

.cImage {
  max-height: 300px;
  width: auto;
  margin: 0 auto;
}

.carousel {
  margin-top: 20px;
}

.carousel-inner {
  background: #173041 !important;
  border-radius: 5px;
}

/****************************************************** BOOKS */

.galleryModal .modal-dialog.modal-lg {
  max-width: fit-content !important;
}

.tocBody {
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryModalImg {
  max-height: 600px;
  width: auto;
}

.toc-image {
  max-width: 425px;
}

.fa-plus-circle {
  font-size: 45px;
  color: #173041;
}

.fa-plus-circle::before {
  cursor: pointer;
}

.booksContainer h2, .booksContainer h3, .booksContainer h5 {
  font-family: "Schadow" !important;
  letter-spacing: 1px;
}

.header-sub {
  color: #173041;
}

.header-sub2 {
  color: #173041;
  font-size: 25px;
}

.header-main {
  letter-spacing: 1;
}

/****************************************************** LESSON PLANS */

.card-header {
  background: #173041 !important;
  color: white !important;
  margin: 0;
  border-radius: 0 !important;
  min-height: 55px;
  padding: 2px 15px !important;
}

.lessonImage {
  height: 175px;
  border: 2px solid #173041;
  max-width: 520px;
}

.lessonCard {
  min-width: 290px !important;
  max-width: 200px !important;
  height: 250px;
  border: 1px solid #173041;
}

.lessonCard .card-title {
  margin: auto 0;
}

/****************************************************** TOOLS */

/**Advisor**/

.faChartDiv {
  position: relative;
  width: 840px;
  height: 575px;
}

.imgDivFA {
  position: absolute;
  width: 840px;
  height: 575px;
}

.chartLink {
  height: 131px;
  width: 180px;
  border: 5px solid red;
  position: absolute;
  border-radius: 5px;
  bottom: 3px;
}

.chartLink0 {
  left: -3px;
}

.chartLink1 {
  left: 211px;
}

.chartLink2 {
  left: 442px;
}

.chartLink3 {
  left: 659px;
}

/**TAM**/

.tamImg {
  max-width: 450px;
}

.galleryImage {
  max-width: 750px;
  margin-bottom: -75px;
}

.toolsTitle {
  font-family: "Schadow"
}

.backBtnCircle {
  border: 3px solid #173041;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 57%;
  display: inline-block;
  position: fixed;
  left: 50px;
  z-index: 20;
  top: 200px;
}

.upBtnCircle {
  top: 610px;
  border: 3px solid #173041;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 57%;
  display: inline-block;
  position: fixed;
  left: 50px;
  z-index: 20;
}

.backArrow {
  font-size: 39px;
  color: #173041;
}

.upArrow {
  position: absolute;
  left: 9px;
  top: -5px;
  font-size: 39px;
  color: #173041;
}

.infoBtnCircle {
  border: 3px solid #173041;
  height: 25px;
  width: 26px;
  background-color: white;
  border-radius: 75%;
  display: inline-block;
  position: absolute;
  /* left: 50px; */
  /* top: 32%; */
  z-index: 20;
  bottom: 19px;
  right: 20px;
}

.infoIcon {
  font-size: 22px;
  color: #173041;
  font-weight: 800;
  margin-top: -6px;
}

.timeline {
  border: 3px solid #173041;
}

.toolCard {
  max-width: 275px !important;
  border: 1px solid #173041;
  padding: 0 !important;
}

.toolCard h5 {
  font-size: 1.1rem;
}

.toolCard .card-img-top {
  height: 170px;
}

/****************************************************** Animations */

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/***************************************************** Blogs */

.footerDash {
  width: 250px;
  height: 2px;
  border-bottom: 2px solid black;
}

.articlesContainer img {
  max-width: 400px;
  margin: 0 15px 15px 0;
}

.articleImg {
  width: 400px;
  height: auto;
  text-align: left;
  float: left;
  margin: 0 15px 15px 0;
}

.articleCard {
  height: 150px;
  width: 525px;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.articleCardInfo {
  color: white;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #173041;
  opacity: 0.8;
  width: 100%;
}

.articleCardDetails {
  font-size: 18px;
  margin-bottom: -5px !important;
}

.articleCardTitle {
  font-size: 22px;
  letter-spacing: 1px;
}